

h1{
    color: #da1616;
}


body{
    background: linear-gradient(to right, #434343, rgba(0, 0, 0, 1));
    background: linear-gradient(to right, #434343, rgb(64, 2, 2));
   
}



/* Style to adjust poster image */
.posterimg {
    object-fit: contain;
    object-position: center;
    height: 100vh;
    overflow: hidden;
    width:100%;
}

